html, body {
    padding: 0;
    margin: 0;
}

html {
    display: flex;
    justify-content: center;
    height: 100%;
    background: hsl(249, 57%, 36%);
    background: linear-gradient(to top left, hsl(249, 60%, 20%), hsl(249, 60%, 50%));
}

body {
    box-sizing: border-box;
    color: white;
    font-family: Helvetica Neue, sans-serif;
}

h1 {
    font-weight: 300;
}

a, a:active {
    color: rgb(250, 250, 250);
}

a:hover {
    color: rgb(225, 225, 225);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0.5em 0;
}

img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
}
